.root-element {
  height: 100%;
  width: 100%;
}

.header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.title {
  margin: 0;
  font-size: calc(10px + 2vmin);
}

.appstate {
  margin-right: 20px;
  font-size: calc(10px + 2vmin);

}

.contents {
  min-height: cacl(100% - 50px);
  width: 100%;
}
